<%= render 'layouts/navigation' %>
<br>
<h2>Update Colony Info</h2>
<%= render 'form', colony: @colony %>

<%= link_to "Delete", @colony, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @colony %> |
<%= link_to 'Back', colonies_path %>
