<p id="notice"><%= notice %></p>

<h1><font color = "#900C3F ">Colonies </font></h1>
<img src="https://images.unsplash.com/photo-1500603720222-eb7a1f997356?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da4fd47cfe5d65e1ec277d9dd4ef2d3f&auto=format&fit=crop&w=1353&q=80" alt="worf" style ="width:400px; height:200px;">
<table>
  <thead>
    <tr>
      <th><font color ="#FF5733">Name</font></th>
      <th><font color ="#FF5733">Address</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <style>
  body{
    background-color: #FFC300;
  }
  #map {
        height: 400px;
        width: 400px;
       }
  </style>

  <tbody>
    <% @colonies.each do |colony| %>
      <tr>
        <td><%= colony.name.titleize %></td>
        <td><%= colony.address.titleize %></td>
        <td><%= link_to 'Edit', edit_colony_path(colony) %></td>

      </tr>
    <% end %>
    <div id="map"></div>
    <script>
    function initMap() {
      var indianapolis = {lat: 39.7844, lng: -86.154};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: indianapolis
      });
      var marker = new google.maps.Marker({
        position: indianapolis,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5syu7dXNvsh51_sRLIawII9BA0p2uGgI&callback=initMap">
  </script>
  </tbody>
</table>

<br>

<%= link_to 'New Colony', new_colony_path %>
