<p id="notice"><%= notice %></p>


<img src="https://lh3.googleusercontent.com/qWvRt058YcvARkNFhXLlue7wHmifOnaMaBpN3cjzOHUw3WKlmOuw1JfBgPXDTPgyDRUIXSOXOwuxOYP718VWWzChB88vYJwkl9ku6-TnDKkwglORPBITZ2FWQH_1K8fE3IFCuetMJ4J1sqZ1xZxb1GQ2oI9zjx2t6zV3lvMhbCV0RnhkNbOZ0RSa6SOqYiTzxRU8g544CR6aEay4Z8Yvo-E1jHVtJedo8RtCMLNwb6GJeDeo4DSRJXFm4bW2NtVrAZ_avwUkoUbwVfAhkFAkstMrCgDp8urGPZ8hMq5ravzgWLv4S8MfEX-AyE435xNUls9hBVqtwp9-Iwph4cddr_qnM26gIk81U7GdygnBSiEblpwW1iVim5w1KjmitEPHjvuEPBvyaxQIUF9WS1s6aQb7wI6R55mY6Of74cKHXRg2K5yNApxeeDWs94v5Eg2nTNXG_ihbL54qh2nktOEG2J4R1OAluOAyTfQzURkB0ecrCwVO8Ok9pUjOKP0OjCzJWjHIvvn9os6hZOUXjACTc1chFHd89CFX3Yj6ASSAgzFegPSDaftXqf-KAs79Bk6ex1JaJvRJOedS-TZaCJCQCU3al2MqGFWlTSQBdKE=w720-h200-no" alt="colonibanner" style ="width:720px; height:200px;">
<table>
  <thead>
    <tr>
      <th><font color ="#FF5733">Name</font></th>
      <th><font color ="#FF5733">Address</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <style>
  body{
    background-color: #FFC300;
  }
  #map {
        height: 400px;
        width: 400px;
       }
  </style>

  <tbody>
    <% @colonies.each do |colony| %>
      <tr>
        <td><%= colony.name.titleize %></td>
        <td><%= colony.address.titleize %></td>
        <td><%= link_to 'Edit', edit_colony_path(colony) %></td>

      </tr>
    <% end %>
    <div id="map"></div>
    <script>
    function initMap() {
      var indianapolis = {lat: 39.7844, lng: -86.154};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: indianapolis
      });
      var marker = new google.maps.Marker({
        position: indianapolis,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5syu7dXNvsh51_sRLIawII9BA0p2uGgI&callback=initMap">
  </script>
  </tbody>
</table>

<br>

<%= link_to 'New Colony', new_colony_path %>
